body{
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    }

    .text{
        width: 600px;
        font-size: 32px;

    }
    label{
        padding: 7px 10px;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        text-align: center;
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .textos{
        display: flex;
        flex-direction: column;
    }

    .subText{
        margin-top: 30px;
        font-size: 25px;
        font-weight: bold;
        color:hsl(240, 38%, 20%) ;
    }

    @media(max-width:1120px){
     .text{
        width: 300px;
     }
     .image{
        width: 530px;
     }
     .subText{
        width: 280px;
     }
    }

    @media(max-width:800px){
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
       }
